.controls {
  padding: 40px 0;
  background: #062b55;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.input {
  border: none;
  border-radius: 3px;
  width: 40%;
  /* height: 34px; */
  margin: 0 20px 0 0;
  font-size: 20px;
}
/* .input::placeholder {
  font-size: 20px;
} */
.button {
  cursor: pointer;
  padding: 12px 20px;
  min-width: 170px;
  border: none;
  border-radius: 3px;
  background: #3884fe;
  color: #fff;
  font-weight: 800;
  font-size: 18px;
}
.button:not(:last-child) {
  margin: 0 20px 0 0;
}
.button:hover,
.button:focus {
  background: #1c73ff;
  transition: 0.2s;
}
